build
captures
.gradle
.idea
bin
gen
out
*.iml
.directory
local.properties

sources/

temp/

iosWeatherPlatform/iosWeatherPlatform.xcodeproj/project.xcworkspace/
iosWeatherPlatform/iosWeatherPlatform.xcodeproj/xcuserdata/
iosWeatherPlatform/Pods/
iosWeatherPlatform/iosWeatherPlatform.xcworkspace/xcuserdata/rnstewart.xcuserdatad/xcdebugger/
iosWeatherPlatform/iosWeatherPlatform.xcworkspace/xcuserdata/rnstewart.xcuserdatad/UserInterfaceState.xcuserstate
iosWeatherPlatform/iosWeatherPlatform.xcworkspace/xcshareddata/xcdebugger/
iosWeatherPlatform/iosWeatherPlatform.xcodeproj/xcshareddata/
iosWeatherPlatform/iosWeatherPlatform.xcworkspace/xcuserdata/rnstewart.xcuserdatad

.DS_Store
.externalNativeBuild
